body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
    color:brown;
}
            
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-top: 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding-bottom: 1px;
}
.navabar-links{
    column-gap: 40px;
    display: flex;
    padding-right: 10px;
    
}
.navabar-link {
    text-decoration: none;
    color: #333;
    font-family: "Archivo Black";
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
    background-color:#5e4738;
    color: white;
    border-radius: 3px;
    padding: 7px;
}

.fh1{
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
      }
.profile{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    object-fit: cover;
    position: absolute;
    padding-left: 10px;
}
.sh1{
    text-align: center;
    padding-top: 20PX;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
}
.role{
    text-align: center;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.sh1:hover{  
   text-decoration: underline;
}
.about-container {
    display: flex;
    align-items: center; /* Aligns text and image in the middle */
    justify-content: space-between; /* Moves image to the right */
    margin: auto; /* Centers the container */
    padding:5%;
    margin-top: -20px;
}

.about-text {
    flex: 1; /* Ensures text takes available space */
    padding-right: 50px; /* Adds spacing between text and image */
    font-size: 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-left: 40px;
    border-radius: 25px;
    background-color:wheat;

}

.about-image img {
    width: 200px; /* Adjust image size */
    height: auto;
    border-radius: 25px; /* Makes image circular */
    margin: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
 
p{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}
.sh4{
   
    padding-left: 400px;
    font-size: 25px;
    background-color: #5e4738;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-right: 1001px;
    margin-left: 40px;

}
.fh4{
    font-size: 25px;
    background-color:#5e4738;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-right: 735px;
}
.p2{
    font-size: 24px;
    padding-left: 5%;
}
.edu-container{
    font-size: 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-left: 30px;
    border-radius: 25px;
    padding: 3px;
    margin-left:60px;
    margin-right: 80px;
    margin-top: 0%;
    padding-bottom: 10px;
    background-color: wheat;

}
.skills{
    font-size: 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-left: 30px;
    border-radius: 25px;
    padding: 3px;
    margin-left:60px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: wheat;
}
.skill-sec{
    padding-left: 10px;
}
.th4{
    background-color:#5e4738;
    color: white;
    border-radius: 5px;
    margin-right: 1070px;
    margin-left: 30px;
    padding: 10px;
}
li{
    padding: 10px;
    padding-left: 30px;
    margin-left: 60px;
    list-style-type: square;
}
.certi-sec{
    font-size: 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-left: 30px;
    border-radius: 25px;
    padding: 3px;
    margin-top: 40px;
    margin-left:60px;
    margin-right: 80px;
background-color: wheat;
}
.certi-text{
    margin-left: 30px;
    background-color:#5e4738;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-right: 957px;
}
.cont-sec
    {
        font-size: 24px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding-left: 30px;
        border-radius: 25px;
        padding: 3px;
        margin-top: 40px;
        margin-left:60px;
        margin-right: 80px;
        background-color: wheat;
    
    }
    .cont-h4{
        background-color:#5e4738;
        color: white;
        border-radius: 5px;
        margin-right: 1040px;
        margin-left: 30px;
        padding: 10px;
    }
    dt{
        padding-left: 55px;
    }
    dd{
        padding-left: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
.contact-linkedin{
    color:#0c2543
}
.footer-sec{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left:400px;
    margin-right: 400px;
    background-color: burlywood;
    border-radius: 20px;
}